#container
{
	width:1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#logo
{  
  background-color: #00ccff;
  color: black;
  text-align: center;
  border: 5px solid red;
}

body {
  background-color: #01FF70;
  font-size: 25px;
}

a
{
	text-decoration: none;
	color: black;
}

#zslid {
  min-height: 516px;
  display: block;
  margin: 0 auto;
}

ul 
{
 font-size: 20px;
}

#zegar 
{
	float: right;
}
#maczanVictims
 {
	color: red;
}

#wynik 
{
	text-align: center;
}
	
#pole {
	display: block;
    margin: 0 auto;
	text-align: center;
}
.przycisk {
	display: block;
    margin: 0 auto;
}

#pojemnik
{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font-family: 'Inconsolata';
    font-weight: 700;
	width:900px;
	margin-left:auto;
	margin-right:auto;
}

#plansza
{
	width: 900px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 48px;
	min-height: 60px;
}

#szubienica
{
	float: left; 
	width: 450px;
	text-align: center;
	min-height: 280px;
}

#alfabet
{
	float: left; 
	width: 450px;
	text-align: center;
	min-height: 280px;
}

.litera
{
	width: 30px;
	height: 30px;
	text-align:center;
	padding: 5px;
	margin: 5px;
	border: 3px solid gray;
	float: left;
	cursor: pointer;
	border-radius: 15px;
}

.litera:hover
{
	background-color: #222222;
	color: white;
	border: 3px solid white;
}

.reset
{
	color: green;
	cursor: pointer;
	font-size: 48px;
}

.reset:hover
{
	color: white;
}

#tictac
{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width:130px;
	margin-left:auto;
	margin-right:auto;
	height: 90px;
}

.polekik
{
	width: 30px;
	height: 30px;
	text-align:center;
	padding: 5px;
	margin: -2px;
	border: 3px solid black;
	float: left;
	cursor: pointer;
}
#wynikkk
{
	text-align:center;
	height: 10px;
}

#cv
{
	display: block;
    margin: 0 auto;
	text-align: center;
}

#gierka
{
	display: block;
    margin: 0 auto;
	text-align: center;
}

#navi
{   
	float: left;
}

#liczby
{
	text-align: center;
	height: 200px;
}

#lastResult
{
	width: 120px;
	display: block;
    margin: 0 auto;
}