body
{
	background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rectangle
{
	width: 960px;
	margin: 20px;
	text-align: center;
}

.square
{
	width: 50%;
	float: left;
}

#logo
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	width: 600px;
	text-align: left;
}

#clock
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	text-align: left;
}

.tile0
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #0066ff;
	float: left;
	text-align: center;
	cursor: pointer;
}

.tile0:hover
{
	background-color: #0055ee;
}

.tile1
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #3095d3;
	float: left;
	text-align: center;
	cursor: pointer;
}

.tile1:hover
{
	background-color: #2084c2;
}

.tile2
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #666666;
	float: left;
	text-align: center;
	cursor: pointer;
}

.tile2:hover
{
	background-color: #555555;
}

.tile3
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #93c748;
	float: left;
	text-align: center;
	cursor: pointer;
}

.tile3:hover
{
	background-color: #82b637;
}

.tile4
{
	margin: 10px;
	width: 410px;
	height: 72px;
	background-color: #ee5a32;
	text-align: center;
	font-size: 26px;
	padding: 35px;
	line-height: 100%;
}

.tile5
{
	margin: 10px;
	width: 420px;
	height: 244px;
	background-color: #669999;
	text-align: justify;
	padding: 30px;
	
}

.lolek
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #bfbfbf;
	float: left;
}

.lolek:hover
{
	background-color: #aeaeae;
}

.mal
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #314f9f;
	float: left;
}

.mal:hover
{
	background-color: #203e8e;
}

.st
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #222222;
	float: left;
}

.st:hover
{
	background-color: #000000;
}

.ds
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #6f88df;
	float: left;
}

.ds:hover
{
	background-color: #5e77ce;
}

#disc
{
	display: block;
	margin-top: 37px;
	margin-left: auto;
	margin-right: auto;
    
}

#mal
{
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
    
}

#lol
{
	display: block;
	margin-top: 37px;
	margin-left: auto;
	margin-right: auto;
    
}

a.social
{
	color: #ffffff;
	text-decoration: none;
}